@media only screen and (max-width: 600px) {
    .phn{
        width: 100%;
    }
}
.swiper-button-prev
{
  position: absolute;
  color: white;
  background:red;
  width: 13%;
  height: 17%;
  border-radius: 100%;
  right: auto;
  left: 0px;
}