.TEST{
    background-image: url("https://media.licdn.com/dms/image/C4D16AQHKNxM5kpqApQ/profile-displaybackgroundimage-shrink_350_1400/0/1516302707328?e=1678320000&v=beta&t=KNney4MN93Ty-08qqx0OVk7ASALp7FovBuBPhxqjDdk");
    background-repeat: no-repeat;
    background-size: cover;
}