<swiper [spaceBetween]="30" [pagination]="{
  clickable: true
}">
    <ng-template swiperSlide class="bg">
        <!-- <div class="max-w-7xl mx-auto mt-20"> -->
        <app-slide-content title="EFFECTIVE MANAGERIAL" subtitle="COMMUNICATION (EMC)" para="
        Learn to effectively communicate and develop strategic
thinking to improve workplace efficiency and interactions" class="right">
        </app-slide-content>
        <!-- </div> -->
    </ng-template>
    <ng-template swiperSlide class="tg">
        <app-slide-content title="EFFECTIVE MANAGERIAL" subtitle="COMMUNICATION (EMC)" para="
  Learn to effectively communicate and develop strategic
thinking to improve workplace efficiency and interactions" class="right">
        </app-slide-content>
    </ng-template><ng-template swiperSlide class="bg">
        <app-slide-content title="EFFECTIVE MANAGERIAL" subtitle="COMMUNICATION (EMC)" para="
  Learn to effectively communicate and develop strategic
thinking to improve workplace efficiency and interactions" class="right">
        </app-slide-content>
    </ng-template><ng-template swiperSlide class="tg">
        <app-slide-content title="EFFECTIVE MANAGERIAL" subtitle="COMMUNICATION (EMC)" para="
  Learn to effectively communicate and develop strategic
thinking to improve workplace efficiency and interactions" class="right">
        </app-slide-content>
    </ng-template><ng-template swiperSlide class="bg">
        <app-slide-content title="EFFECTIVE MANAGERIAL" subtitle="COMMUNICATION (EMC)" para="
  Learn to effectively communicate and develop strategic
thinking to improve workplace efficiency and interactions" class="right">
        </app-slide-content></ng-template><ng-template swiperSlide class="tg">
        <app-slide-content title="EFFECTIVE MANAGERIAL" subtitle="COMMUNICATION (EMC)" para="
  Learn to effectively communicate and develop strategic
thinking to improve workplace efficiency and interactions" class="right">
        </app-slide-content></ng-template><ng-template swiperSlide class="bg">
        <app-slide-content title="EFFECTIVE MANAGERIAL" subtitle="COMMUNICATION (EMC)" para="
  Learn to effectively communicate and develop strategic
thinking to improve workplace efficiency and interactions" class="right">
        </app-slide-content></ng-template><ng-template swiperSlide class="tg">
        <app-slide-content title="EFFECTIVE MANAGERIAL" subtitle="COMMUNICATION (EMC)" para="
  Learn to effectively communicate and develop strategic
thinking to improve workplace efficiency and interactions" class="right">
        </app-slide-content></ng-template><ng-template swiperSlide class="bg">
        <app-slide-content title="EFFECTIVE MANAGERIAL" subtitle="COMMUNICATION (EMC)" para="
  Learn to effectively communicate and develop strategic
thinking to improve workplace efficiency and interactions" class="right">
        </app-slide-content></ng-template>
</swiper>

<app-course-features></app-course-features>
<app-course-overview></app-course-overview>
<app-what-will-you-learn></app-what-will-you-learn>
<app-learn-from></app-learn-from>
<app-program-structure></app-program-structure>
<app-live-video></app-live-video>
<app-who-will-be-benefited></app-who-will-be-benefited>
<app-syllabus></app-syllabus>
<app-certificate></app-certificate>
