<div class="max-w-7xl mx-auto">
    <br />
    <br />

    <h1 class="text-4xl text-vumi-orange md:text-left infxs:text-center">
        <span
            class="md:font-bold md:text-5xl infxs:text-6xl infxs:font-extrabold block md:inline"
            >POPULAR</span
        >
        <span
            class="md:mt-0 md:ml-3 md:text-5xl infxs:text-6xl infxs:ml-0infxs:-mt-18"
            >COURSES</span
        >
    </h1>
    <p class="font-semibold text-xs mt-1 hidden md:block">
        SEE WHAT'S TRANDING RIGHT NOW.
    </p>

    <br />

    <div class="parent">
        <div
            class="div1 md:w-full sm:w-90 lg:h-full md:h-70 infxs:h-100 infxs:w-3/4 infxs:mx-auto"
        >
            <img src="../../../../../../../assets/images/home/Div1.png" />
            <div class="sub-text md:hidden">
                <h1 class="text-vumi-white text-3xl font-bold">COURSE TITLE</h1>
                <p class="text-vumi-white">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Iure odio vitae quia consequatur beatae quis dolor eligendi
                    iste ipsa. Voluptatum!
                </p>
            </div>
        </div>
        <div
            class="div2 md:w-full sm:w-90 infxs:w-3/4 md:h-70 infxs:h-100 infxs:mx-auto"
        >
            <img src="../../../../../../../assets/images/home/Div2.png" />
            <div class="sub-text md:hidden">
                <h1 class="text-vumi-white text-3xl font-bold">COURSE TITLE</h1>
                <p class="text-vumi-white">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Iure odio vitae quia consequatur beatae quis dolor eligendi
                    iste ipsa. Voluptatum!
                </p>
            </div>
        </div>
        <div
            class="div3 md:w-full h-70 infxs:w-3/4 infxs:mx-auto md:block infxs:hidden"
        >
            <img src="../../../../../../../assets/images/home/Div3.png" />
            <div class="sub-text md:hidden">
                <h1 class="text-vumi-white text-3xl font-bold">COURSE TITLE</h1>
                <p class="text-vumi-white">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Iure odio vitae quia consequatur beatae quis dolor eligendi
                    iste ipsa. Voluptatum!
                </p>
            </div>
        </div>
        <div
            class="div4 md:w-full infxs:w-3/4 h-70 infxs:mx-auto md:block infxs:hidden"
        >
            <img src="../../../../../../../assets/images/home/Div4.png" />
            <div class="sub-text md:hidden">
                <h1 class="text-vumi-white text-3xl font-bold">COURSE TITLE</h1>
                <p class="text-vumi-white">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Iure odio vitae quia consequatur beatae quis dolor eligendi
                    iste ipsa. Voluptatum!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="flex md:-mt-0 infxs:-mt-4 my-0 p-8 justify-center">
    <button class="bg-vumi-orange px-9 py-2 text-white border-none">
        See all courses
    </button>
</div>
