<p
    class="text-4xl md:font-semibold md:text-vumi-white md:text-left infxs:text-vumi-blue infxs:text-center infxs:font-extrabold"
>
    {{ title }}
</p>
<p
    class="text-4xl md:text-vumi-white md:text-left infxs:text-vumi-blue infxs:text-center"
>
    {{ subtitle }}
</p>
<p
    class="font-light w-11/12 md:text-vumi-white md:text-left infxs:text-vumi-blue infxs:text-center"
>
    {{ para }}
</p>
<div class="md:text-left infxs:text-center">
    <button class="mt-5 bg-vumi-orange px-9 py-2 text-white border-none">
        Get Started
    </button>
</div>
