<swiper
[spaceBetween]="30"
[pagination]="{
  clickable: true
}"
>
<ng-template swiperSlide class="bg">
  <!-- <div class="max-w-7xl mx-auto mt-20"> -->
    <app-slide-content title="LEARNING" subtitle="MADE SMART" para = "
        Lorem ipsum, dolor sit amet, consectetuer adipiscing elit, sed
        diam nonummy nibh euismod tincidunt ut laoreet dolore
        magna aliquam erat volutpat, Ut wisi enim ad minim veniam," class="right">
    </app-slide-content>
  <!-- </div> -->
</ng-template>
<ng-template swiperSlide class="tg">
  <app-slide-content title="LEARNING" subtitle="MADE SMART" para = "
  Lorem ipsum, dolor sit amet, consectetuer adipiscing elit, sed
  diam nonummy nibh euismod tincidunt ut laoreet dolore
  magna aliquam erat volutpat, Ut wisi enim ad minim veniam," class="right">
</app-slide-content>
</ng-template
><ng-template swiperSlide class="bg">
  <app-slide-content title="LEARNING" subtitle="MADE SMART" para = "
  Lorem ipsum, dolor sit amet, consectetuer adipiscing elit, sed
  diam nonummy nibh euismod tincidunt ut laoreet dolore
  magna aliquam erat volutpat, Ut wisi enim ad minim veniam," class="right">
</app-slide-content>
    </ng-template
><ng-template swiperSlide class="tg">
  <app-slide-content title="LEARNING" subtitle="MADE SMART" para = "
  Lorem ipsum, dolor sit amet, consectetuer adipiscing elit, sed
  diam nonummy nibh euismod tincidunt ut laoreet dolore
  magna aliquam erat volutpat, Ut wisi enim ad minim veniam," class="right">
</app-slide-content>
    </ng-template
><ng-template swiperSlide class="bg">
  <app-slide-content title="LEARNING" subtitle="MADE SMART" para = "
  Lorem ipsum, dolor sit amet, consectetuer adipiscing elit, sed
  diam nonummy nibh euismod tincidunt ut laoreet dolore
  magna aliquam erat volutpat, Ut wisi enim ad minim veniam," class="right">
</app-slide-content></ng-template
><ng-template swiperSlide class="tg">
  <app-slide-content title="LEARNING" subtitle="MADE SMART" para = "
  Lorem ipsum, dolor sit amet, consectetuer adipiscing elit, sed
  diam nonummy nibh euismod tincidunt ut laoreet dolore
  magna aliquam erat volutpat, Ut wisi enim ad minim veniam," class="right">
</app-slide-content></ng-template
><ng-template swiperSlide class="bg">
  <app-slide-content title="LEARNING" subtitle="MADE SMART" para = "
  Lorem ipsum, dolor sit amet, consectetuer adipiscing elit, sed
  diam nonummy nibh euismod tincidunt ut laoreet dolore
  magna aliquam erat volutpat, Ut wisi enim ad minim veniam," class="right">
</app-slide-content></ng-template
><ng-template swiperSlide class="tg">
  <app-slide-content title="LEARNING" subtitle="MADE SMART" para = "
  Lorem ipsum, dolor sit amet, consectetuer adipiscing elit, sed
  diam nonummy nibh euismod tincidunt ut laoreet dolore
  magna aliquam erat volutpat, Ut wisi enim ad minim veniam," class="right">
</app-slide-content></ng-template
><ng-template swiperSlide class="bg">
  <app-slide-content title="LEARNING" subtitle="MADE SMART" para = "
  Lorem ipsum, dolor sit amet, consectetuer adipiscing elit, sed
  diam nonummy nibh euismod tincidunt ut laoreet dolore
  magna aliquam erat volutpat, Ut wisi enim ad minim veniam," class="right">
</app-slide-content></ng-template>
</swiper>

<!-- <app-slide-content></app-slide-content> -->

<app-popular-courses></app-popular-courses>
<app-experts-minds></app-experts-minds>

