@import "swiper/css";
@import "swiper/css/navigation";
// @import 'swiper/css/pagination';

.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
}
.swiper-button-next {
    color: red;
    background: white;
    width: 13%;
    height: 17%;
    border-radius: 100%;
    right: 0px;
    left: auto;
}
.swiper-button-prev {
    position: absolute;
    color: red;
    background: white;
    width: 13%;
    height: 17%;
    border-radius: 100%;
    right: auto;
    left: 0px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.bg {
    /* The image used */
    background-image: url("../../../../assets/images/home/Slider1.jpg");
    /* Full height */
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tg {
    /* The image used */
    background-image: url("https://fsa2-assets.imgix.net/assets/laptop-coding-terminal.jpg?auto=compress%2Cformat&crop=focalpoint&domain=fsa2-assets.imgix.net&fit=crop&fp-x=0.5&fp-y=0.5&ixlib=php-3.3.0&w=1280");
    /* Full height */
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pg {
    /* The image used */
    background-image: url("https://marvel-b1-cdn.bc0a.com/f00000000227347/www.ottawa.edu/Ottawa/media/ou/Degree%20Images/Hero%20-%201000x415/Degrees_APGS_G_1000x415_eMBA.jpg?ext=.jpg");
    // /* Full height */
    // height: 100vh;
    // /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.live::before {
    border-radius: 50%;
    background-color: red;
    height: 50em;
    width: 50em;
}
.populaecourses {
    /* Full height */
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.right {
    color: white;
    width: 600px;
    margin-top: 30%;
    margin-left: 16.5%;
    text-align: left;
}
