<div class="text-center text-vumi-orange flex flex-col gap-5">
    <h1 class="text-4xl font-semibold">
        {{header_month}}
    </h1>

    <div>
        <p>Program Dates and Time</p>
        <p class="text-xl font-semibold">{{program_dates}}</p>
        <p class="text-xl font-semibold">{{program_year}}</p>
    </div>

    <div>
        <p>Application Deadline</p>
        <p class="text-xl font-semibold">{{application_deadline}}</p>
    </div>

    <div>
        <p>Course Length</p>
        <p class="text-xl font-semibold">{{course_length}}</p>
    </div>

    <div>
        <p>Fee</p>
        <p class="text-xl font-semibold">{{fee}}</p>
    </div>

    <div class="-space-y-5">
    <button class="border-2 border-vumi-blue p-3 text-vumi-blue font-bold">Detailed Calender PDF</button>

    <img src="assets\images\program-structure\1.png" alt="Certificate" class="scale-50 border-2 border-vumi-orange">

    <button class="bg-vumi-blue text-vumi-white py-2 px-5 text-xl font-semibold uppercase">Apply Now</button>
    </div>

</div>
