<div class="text-center text-vumi-orange">
  <h1 class="text-4xl font-semibold">
    header month
  </h1>
  <p>Program Dates and Time</p>
  <p class="text-xl font-semibold">Program dates</p>
  <p class="text-xl font-semibold">Program year</p>

  <p>Application Deadline</p>
  <p class="text-xl font-semibold">application_deadline</p>

  <p>Course Length</p>
  <p class="text-xl font-semibold">course_length</p>

  <p>Fee</p>
  <p class="text-xl font-semibold">fee</p>

  <button class="border-2 border-vumi-blue p-3 text-vumi-blue font-bold">Detailed Calender PDF</button>
  <br>
  <button>Certificate</button>
  <br>
  <button class="bg-vumi-blue text-vumi-white p-3 font-bold">Apply Now</button>
</div>
