<div class = "bg-vumi-white">
    <div class="py-9 max-w-7xl mx-auto  text-vumi-blue flex flex-row flex-wrap justify-center">
        <div class="flex flex-col basis-5/12 text-center mx-auto gap-y-5">
          <h1 class="font-bold text-8xl text-vumi-orange">
            SYLLABUS
          </h1>
          <app-syllabus-single
          syllabus_title="MANAGERIAL COMMUNICATION"
          [syllabus_items]="['Importance of Effective Managerial Communication']"
          ></app-syllabus-single>
        </div>

        <img src="assets\images\pages\courses\live-video\1.png" alt="course overview" class="basis-6/12 bg-vumi-white scale-75">
      </div>

</div>
