<div class="bg-vumi-orange">
    <div class=" max-w-7xl py-28 mx-auto">
        <div class="flex flex-wrap justify-center">
                <div class="text-vumi-white md:basis-5/12 text-left">
                    <h1 class="text-7xl font-normal -mt-2">
                        FROM THE MINDS
                    </h1>
                    <h1 class="text-7xl font-normal">
                        OF THE <strong>EXPERTS</strong>
                    </h1>
                    <div class="space-y-5 mt-5">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, voluptatem? Provident omnis aliquam deleniti nemo, quaerat perspiciatis delectus cum minima cupiditate animi ducimus sunt numquam repellendus quos iure impedit, odio facilis sit error. Autem earum quis non inventore officia dolorem quisquam vitae at aspernatur hic.
                        </p>
                    </div>
                    <div class="flex justify-center md:block">
                        <button class="bg-vumi-white text-vumi-blue px-8 py-2 font-semibold text-xl mt-5 sm:justify-center">
                            Join Live Session
                        </button>
                    </div>
                </div>
    

                <div class="md:w-1/2 -mt-10 h-100 scale-75 ml-8 md:mx-auto sm:mx-auto ">
                    <swiper
                        [slidesPerView]="1"
                        [spaceBetween]="10"
                        [navigation]="true"
                        [pagination]="{
                        clickable: true
                        }">
                        <ng-template swiperSlide class="mg inline text-left ">
                            <div class="flex flex-row ml-8 mt-14 gap-x-3">
                                <div class="w-5 h-5 my-auto  bg-vumi-orange rounded-full">
                                </div>
                                <h1 class="text-7xl font-bold text-orange-700 live">
                                    LIVE
                                </h1>
                            </div>
                            <br>
                            <div class="mt-28">
                                <p class="text-2xl font-bold ml-8 text-white">
                                    ALLIAN TROUE
                                </p>
                                <p class="ml-8  text-orange-700">
                                    Teaches Graphic Design
                                </p>
                                <p class="text-2xl font-bold ml-8  text-white">
                                    LIVE NOW!
                                </p>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide class="mg inline text-left ">
                            <div class="flex flex-row ml-8 mt-14 gap-x-3">
                                <div class="w-5 h-5 my-auto  bg-vumi-orange rounded-full">
                                </div>
                                <h1 class="text-7xl font-bold text-orange-700 live">
                                    LIVE
                                </h1>
                            </div>
                            <br>
                            <div class="mt-28">
                                <p class="text-2xl font-bold ml-8 text-white">
                                    ALLIAN TROUE
                                </p>
                                <p class="ml-8  text-orange-700">
                                    Teaches Graphic Design
                                </p>
                                <p class="text-2xl font-bold ml-8  text-white">
                                    LIVE NOW!
                                </p>
                            </div>
                        </ng-template>
                        <ng-template swiperSlide class="mg inline text-left ">
                            <div class="flex flex-row ml-8 mt-14 gap-x-3">
                                <div class="w-5 h-5 my-auto  bg-vumi-orange rounded-full">
                                </div>
                                <h1 class="text-7xl font-bold text-orange-700 live">
                                    LIVE
                                </h1>
                            </div>
                            <br>
                            <div class="mt-28">
                                <p class="text-2xl font-bold ml-8 text-white">
                                    ALLIAN TROUE
                                </p>
                                <p class="ml-8  text-orange-700">
                                    Teaches Graphic Design
                                </p>
                                <p class="text-2xl font-bold ml-8  text-white">
                                    LIVE NOW!
                                </p>
                            </div>
                        </ng-template>
                    </swiper >
                </div>
    </div>
</div>

