<div class = "bg-vumi-blue">
    <div class="py-9 max-w-7xl mx-auto  text-vumi-white flex flex-row">
        <div class="flex flex-col w-1/2">
          <h1 class="font-bold text-6xl">
            OVERVIEW
          </h1>
          <h3  class="font-normal text-6xl ">
            OF THE COURSE
          </h3>
          <p class="text-s w-10/12 mt-5">
            Communication is a critical skill for every managers to be successful in
            their professional career. This course Effective Managerial Communication
            is designed to help managers/leaders communicate effectively in their
            everyday tasks and intended to help them think strategically about com-
            munication and aid them in improving their writing, presentation, and
            interpersonal communication skills as a future business leader. This course
            will also cover emotional intelligence (EQ), its importance and strategies
            to increase EQ awareness and management. This course also covers vari-
            ous negotiation styles and tactics. This course will enable a manager by
            teaching him/her the art of persuasion. This course is very effective for
            learning the key strategies and tactics needed for effective written & oral
            communications and winning negotiations with employees, supervisors,
            customers & stakeholders.
          </p>
        </div>

        <div class="w-1/2 bg-vumi-white">

        </div>
      </div>

</div>
