<div class="bg-vumi-yellow">
    <div class=" max-w-7xl py-9 text-vumi-blue flex flex-row flex-wrap justify-evenly gap-y-5 mx-auto">
        <div class="flex flex-col lg:w-1/2 xl:w-1/2 2xl:w-1/2">
            <app-learn-from-single
                name="Rahel Ahmed"
                position="CEO"
                org="Nagad"
            ></app-learn-from-single>
        </div>
        <app-program-single header_month="February 2022" program_dates="26 February | 01 March | 05 March"
            program_year="2022" application_deadline="25 February 2022" course_length="10 hrs" fee="5000 BDT">
        </app-program-single>
        <app-program-single header_month="March 2022" program_dates="26 March | 01 April | 05 April" program_year="2022"
            application_deadline="25 February 2022" course_length="10 hrs" fee="5000 BDT">
        </app-program-single>
    </div>
</div>
