<div class="bg-vumi-white">
    <div class=" max-w-7xl mx-auto py-9 text-vumi-blue flex flex-row flex-wrap justify-evenly gap-y-5">
        <div class="flex flex-col lg:w-1/2 xl:w-1/2 2xl:w-1/2 text-center mx-auto">
            <div class="text-7xl">
                <h1 class="font-medium">
                    LEARN FROM
                </h1>
                <h1 class="font-bold">
                    THE BEST
                </h1>
            </div>

            <div>
                <div class="border-b-2 border-vumi-white">
                    <p class="font-bold">Rahel Ahmed</p>
                    <p class="font-medium">CEO <br> NAGAD</p>
                </div>
            </div>
            <div>
                <div class="border-b-2 border-vumi-white">
                    <p class="font-bold">Ridhwanul Haq</p>
                    <p class="font-medium">IBA, University of Dhaka</p>
                </div>
            </div>
            <div>
                <div class="border-b-2 border-vumi-white">
                    <p class="font-bold">Dr. Melita Mehjabeen</p>
                    <p class="font-medium">IBA, University of Dhaka</p>
                </div>
            </div>
            <div>
                <div class="border-b-2 border-vumi-white">
                    <p class="font-bold">Khaled Mahmud</p>
                    <p class="font-medium">IBA, University of Dhaka</p>
                </div>
            </div>
        </div>

        <app-program-single header_month="February 2022" program_dates="26 February | 01 March | 05 March"
            program_year="2022" application_deadline="25 February 2022" course_length="10 hrs" fee="5000 BDT">
        </app-program-single>
        <app-program-single header_month="March 2022" program_dates="26 March | 01 April | 05 April" program_year="2022"
            application_deadline="25 February 2022" course_length="10 hrs" fee="5000 BDT">
        </app-program-single>
    </div>
</div>
