<div class="bg-vumi-blue">
    <div class=" max-w-7xl py-28 mx-auto">
        <div class="flex flex-row flex-wrap justify-center">

            <img src="assets\images\pages\courses\certificate\1.png" alt=""
                class="scale-90 basis-5/12 mx-auto border-vumi-orange border-8 certificate-shadow">

            <div class="text-vumi-white basis-5/12 text-left mx-auto align-end mt-auto ml-auto">
                <div class="text-7xl mt-10">
                    <h1 class="font-medium">
                        EARN YOUR
                    </h1>
                    <h1 class="font-bold -mt-3 mb-4">
                        CERTIFICATE
                    </h1>
                </div>

                <div class="text-4xl my-auto">

                    <p>
                        Enroll today in
                    </p>
                    <p>
                        VUMI Effective Managerial
                    </p>
                    <p>
                        Communications (EMC) course.
                    </p>
                </div>
                <button class="bg-vumi-orange text-vumi-white px-9 py-3 font-semibold text-xl mt-5">
                    Apply Now
                </button>
            </div>
        </div>

    </div>
</div>
