<div class="bg-vumi-orange">
    <div class=" max-w-7xl py-5 mx-auto py-9text-vumi-blue flex flex-row">
        <div class="text-vumi-white">
            <h1 class="text-7xl font-bold">
                LIVE VIDEO
            </h1>
            <h1 class="text-7xl font-medium -mt-3">
                FOR THIS COURSE
            </h1>

            <div class="space-y-5 mt-5">
                <p>
                    Live virtual sessions conducted by area experts , both academicians
                    as well as industry leaders
                </p>
                <p>
                    Maximize interaction through Zoom functionality including polls, chat responses, and annotations
                </p>
                <p>Real-time assessment and coaching and discussions from instructors</p>
                <p>Hands-on practice exercises and accompanying files.</p>
            </div>

            <button class="bg-vumi-white text-vumi-blue px-5 py-3 font-semibold text-xl mt-5">
                Join Live Session
            </button>
        </div>

        <img src="assets\images\pages\courses\live-video\1.png" alt="" class="scale-75">

    </div>
</div>
