<div class=" bg-vumi-white">
    <div class="max-w-7xl mx-auto py-9 flex flex-row flex-wrap justify-center">

        <div class="basis-6/12 bg-vumi-white">
          <img src="assets\images\pages\courses\what-will-you-learn\1.png" alt="what will you learn" class="">
        </div>

        <div class="flex flex-col basis-5/12 ">
          <h1 class="font-normal text-6xl text-vumi-orange whitespace-nowrap" style="white-space: nowrap;">
            WHAT YOU WILL <strong>LEARN</strong>
          </h1>
          <ul class="text-m mt-3 text-vumi-blue">
            <li>Recognize different <strong> styles of communication</strong> and how to improve understanding and build rapport with others,</li>
            <li>Analyze situations using a variety of <strong>communication models</strong> to determine how to manage the situations,</li>
            <li>Understand the insights of the counterparty and enrich <strong>communication skills</strong> they need to become valued and successful network participants</li>
            <li>Determine <strong> the most effective match of messages </strong> to the unique circumstances in particular situations</li>
            <li>Learn how to <strong>persuade counterparties</strong> effectively</li>
            <li>Learn <strong>interpersonal communication, group dynamics, conflict resolution and negotiation</strong> to go a long way toward making meetings more effective</li>
            <li>Evaluate <strong>personal communication</strong>, verbal and non-verbal, formal and informal, to identify specific areas for improvement</li>
            <li>Design <strong> organizational communication strategy</strong> that effectively uses presentations, reports, and mass communication</li>
            <li>Evaluate <strong>ethical issues</strong> in all forms of communication within organizations</li>
            </ul>
        </div>
      </div>
</div>
