<div class="bg-vumi-blue">
    <div class="max-w-7xl py-12 mx-auto">
        <div class="flex flex-wrap justify-center">
            <div
                class="md:w-1/2 phn -mt-8 mb-0.5 -ml-30 h-100 scale-90 mx-auto"
            >
                <img
                    src="../../../../../../../assets/images/home/Digital_Learning.png"
                />
            </div>
            <div class="text-vumi-white text-right">
                <h1 class="text-8xl font-normal">
                    <strong>ENABLING</strong>
                </h1>
                <h1 class="text-8xl -mt-8 font-normal">
                    <strong>DIGITAL LEARNING</strong>
                </h1>
                <div class="flex flex-col justify-center mt-15">
                    <div class="w-full flex justify-end -mt-12 mb-3">
                        <img
                            class="h-14 w-13"
                            src="../../../../../../../assets/images/home/download-icon.png"
                        />
                    </div>
                    <h2 class="text-3xl font-semibold -mt-3 text-vumi-orange">
                        DOWNLOAD VUMI APP
                    </h2>
                    <div class="flex flex-row text-left justify-end gap-5 mt-3">
                        <div
                            class="text-right border border-vumi-orange px-4 py-3 flex"
                        >
                            <div>
                                <img
                                    src="../../../../../../../assets/images/home/play-store-icon.png"
                                />
                            </div>
                            <div class="flex flex-col justify-end ml-4">
                                <p class="text-sm -mb-1">GET IN</p>
                                <h1 class="text-xl">PLAY STORE</h1>
                            </div>
                        </div>
                        <div
                            class="text-right border border-vumi-orange px-4 py-3 flex"
                        >
                            <div>
                                <img
                                    class="mt-1"
                                    src="../../../../../../../assets/images/home/app-store-icon.png"
                                />
                            </div>
                            <div class="flex flex-col justify-end ml-4">
                                <p class="text-sm -mb-1">GET IN</p>
                                <h1 class="text-xl">APPLE STORE</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
