<div class="mt-7 px-72 pb-24 bg-vumi-grey">
  <h1 class="text-6xl pt-20 font-bold uppercase text-vumi-blue mb-20">Course Features</h1>
  <div class="parent h-96">

    <div class="div1 h-full mt-auto">
      <app-course-single-feature imageURL="assets\images\course-single-feature\5.png"
      text="Managerial Communication"></app-course-single-feature>
    </div>

    <div class="div2">
      <app-course-single-feature imageURL="assets\images\course-single-feature\4.png"
      text="Verbal Communication & Emotional Intelligence"></app-course-single-feature>
    </div>

    <div class="div3" class="w-11/12 h-full" >
      <app-course-single-feature imageURL="assets\images\course-single-feature\2.png"
      text="Effective Leadership Communication"></app-course-single-feature>
    </div>

    <div class="div4" class="w-11/12 h-full">
      <app-course-single-feature imageURL="assets\images\course-single-feature\3.png" text="Effective Virtual Communication"></app-course-single-feature>
    </div>

    <div class="div5" style="transform:translateX(-8.33%)">
      <app-course-single-feature imageURL="assets\images\course-single-feature\1.png"
      text="Prepare and Deliver Winning Business Presentations"></app-course-single-feature>

    </div>

  </div>
</div>
