<div class="bg-vumi-lightgray">
    <div class=" max-w-7xl mx-auto py-9 text-vumi-blue parent">

        <div class="text-7xl uppercase flex flex-col flex-wrap text-center div1">
            <h1 class="font-medium">
                WHO WILL BE
                <strong>BNENFITED?</strong>
            </h1>
        </div>

        <div class="flex flex-row flex-wrap justify-center text-center div2">
            <div class="flex flex-col content-center items-center xl:w-1/3 lg:w-1/3 md:w-1/3 sm:w-1/3">
                <img src="assets\images\pages\courses\who-will-be-benefited\1.png" alt="" class="w-36 h-46 ml-3">
                <h1 class="text-2xl font-medium w-3/4">
                    NEWLY APPOINTED MANAGERS
                </h1>
            </div>
            <div class="flex flex-col content-center items-center gap-3 xl:w-1/3 lg:w-1/3 md:w-1/3">
                <img src="assets\images\pages\courses\who-will-be-benefited\2.png" alt="" class="w-28 h-32 mt-4">
                <h1 class="text-2xl font-medium w-3/4">
                    ALL LEVELS OF EXECUTIVES
                </h1>
            </div>
            <div class="flex flex-col content-center items-center gap-3 xl:w-1/3 lg:w-1/3 md:w-1/3">
                <img src="assets\images\pages\courses\who-will-be-benefited\3.png" alt="" class="w-36 h-36 mr-3">
                <h1 class="text-2xl font-medium w-3/4">
                    ASPIRING MANAGERS
                </h1>
            </div>
        </div>

    </div>
</div>
