<div class="bg-vumi-lightgray">
    <div class=" max-w-7xl mx-auto py-9 text-vumi-blue parent">

        <div class="text-7xl uppercase flex flex-col flex-wrap div1">
            <h1 class="font-medium">
                WHO WILL BE
                <br>
                <strong>BNENFITED?</strong>
            </h1>
        </div>

        <div class="flex flex-row flex-wrap justify-center text-center div2">
            <div class="flex flex-col content-center items-center gap-3">
                <img src="assets\images\pages\courses\who-will-be-benefited\1.png" alt="" class="w-40 h-40 ml-3">
                <h1 class="text-2xl font-medium w-3/4">
                    NEWLY APPOINTED MANAGERS
                </h1>
            </div>
            <div class="flex flex-col content-center items-center gap-3">
                <img src="assets\images\pages\courses\who-will-be-benefited\2.png" alt="" class="w-32 h-36 mt-4">
                <h1 class="text-2xl font-medium w-3/4">
                    ALL LEVELS OF EXECUTIVES
                </h1>
            </div>
            <div class="flex flex-col content-center items-center gap-3">
                <img src="assets\images\pages\courses\who-will-be-benefited\3.png" alt="" class="w-40 h-40 mr-3">
                <h1 class="text-2xl font-medium w-3/4">
                    ASPIRING MANAGERS
                </h1>
            </div>
        </div>

    </div>
</div>
